{#- Thin proxy: re-exports constants from Python modules for .sls states.
    Usage: {% from '_imports.jinja' import host, user, home, retry_attempts %}
    Secrets: salt['secrets.get']('key'), salt['secrets.tg_secret'](...)
    Features: salt['host.feature_enabled']('mpd')
#}
{%- set _hc = salt['common.get_host']() -%}
{%- set host = _hc -%}
{%- set user = _hc.user -%}
{%- set home = _hc.home -%}
{%- set pkg_list = _hc.pkg_list -%}
{%- set _cc = salt['common.get_constants']() -%}
{%- set retry_attempts = _cc.retry_attempts -%}
{%- set retry_interval = _cc.retry_interval -%}
{%- set healthcheck_timeout = _cc.healthcheck_timeout if _cc.healthcheck_timeout is defined else 30 -%}
{%- set sudo_timeout_minutes = _cc.sudo_timeout_minutes if _cc.sudo_timeout_minutes is defined else -1 -%}
{%- set ollama_pull_timeout = _cc.ollama_pull_timeout if _cc.ollama_pull_timeout is defined else 14400 -%}
{%- set ver_dir = _cc.ver_dir if _cc.ver_dir is defined else (home ~ '/.cache/salt-versions') -%}
{%- set sys_ver_dir = _cc.sys_ver_dir if _cc.sys_ver_dir is defined else '/var/cache/salt/versions' -%}
{%- set download_cache = _cc.download_cache if _cc.download_cache is defined else '/var/cache/salt/downloads' -%}