{# Delegation stubs → _modules/pkg.py #}
{% from '_macros_common.jinja' import user as _user, home as _home, retry_attempts as _retry_attempts, retry_interval as _retry_interval, host, ver_stamp %}

{% macro paru_install(name, pkg, check=None, requires=None, version='') %}{{ salt['pkg.paru_install'](name, pkg, check=check, requires=requires, version=version) }}{% endmacro %}
{% macro simple_service(name, pkgs, service=None, check=None, requires=None) %}{{ salt['pkg.simple_service'](name, pkgs, service=service, check=check, requires=requires) }}{% endmacro %}
{% macro pkgbuild_install(name, source, user=_user, build_base='/tmp/pkgbuild', timeout=600, check=None, replace_check=None, conflicts=None, extra_sources=None) %}{{ salt['pkg.pkgbuild_install'](name, source, user=user, build_base=build_base, timeout=timeout, check=check, replace_check=replace_check, conflicts=conflicts, extra_sources=extra_sources) }}{% endmacro %}
{% macro flatpak_install(app_id, user=_user) %}{{ salt['pkg.flatpak_install'](app_id, user=user) }}{% endmacro %}