{# Delegation stubs → _modules/installer.py #}
{% from '_macros_common.jinja' import user as _user, home as _home, retry_attempts as _retry_attempts, retry_interval as _retry_interval, ver_dir as _ver_dir, sys_ver_dir as _sys_ver_dir, download_cache as _download_cache, ver_stamp as _ver_stamp, download_cached as _download_cached %}

{% macro go_pkg(name, pkg=None, bin=None, user=_user, home=_home) %}{{ salt['installer.go_pkg'](name, pkg=pkg, bin=bin, user=user, home=home) }}{% endmacro %}
{% macro curl_bin(name, url, version=None, hash=None, user=_user, home=_home) %}{{ salt['installer.curl_bin'](name, url, version=version, hash_val=hash, user=user, home=home) }}{% endmacro %}
{% macro cargo_pkg(name, pkg=None, bin=None, git=None, env=None, onlyif=None, version=None, user=_user, home=_home) %}{{ salt['installer.cargo_pkg'](name, pkg=pkg, bin=bin, git=git, env=env, onlyif=onlyif, version=version, user=user, home=home) }}{% endmacro %}
{% macro pip_pkg(name, pkg=None, bin=None, env=None, preinstall=None, user=_user, home=_home) %}{{ salt['installer.pip_pkg'](name, pkg=pkg, bin=bin, env=env, preinstall=preinstall, user=user, home=home) }}{% endmacro %}
{% macro http_file(name, url, dest, mode='0644', user=_user, creates=None, require=None, parallel=True, hash=None, version=None, cache=True) %}{{ salt['installer.http_file'](name, url, dest, mode=mode, user=user, creates=creates, require=require, parallel=parallel, hash_val=hash, version=version, cache=cache) }}{% endmacro %}
{% macro git_clone_deploy(name, repo, dest, items=None, creates=None, user=_user, home=_home) %}{{ salt['installer.git_clone_deploy'](name, repo, dest, items=items, creates=creates, user=user, home=home) }}{% endmacro %}
{% macro git_clone_build(name, repo_url, build_cmds, binary_src, binary_dest=None, comment=None, user=_user, home=_home) %}{{ salt['installer.git_clone_build'](name, repo_url, build_cmds, binary_src, binary_dest=binary_dest, user=user, home=home) }}{% endmacro %}
{% macro download_font_zip(name, url, subdir, hash=None, version=None, user=_user, home=_home) %}{{ salt['installer.download_font_zip'](name, url, subdir, hash_val=hash, version=version, user=user, home=home) }}{% endmacro %}
{% macro github_release_to(state_id, name, repo, asset, dest, format='file', tag=None, hash=None, version=None, creates=None, require=None, user=_user) %}{{ salt['installer.github_release_to'](state_id, name, repo, asset, dest, format_type=format, tag=tag, hash_val=hash, version=version, creates=creates, require=require, user=user) }}{% endmacro %}
{% macro npm_build_workflow(name, dir, version=None, install_creates=None, build_creates=None, user=_user, require=None) %}{{ salt['installer.npm_build_workflow'](name, dir_path=dir, version=version, install_creates=install_creates, build_creates=build_creates, user=user, require=require) }}{% endmacro %}
{% macro curl_extract_tar(name, url, binary_pattern=None, archive_ext='tar.gz', fetch_tag=False, strip_v=False, binaries=None, bin=None, chmod=False, dest=None, strip_components=None, creates=None, bin_dest=None, hash=None, version=None, user=_user, home=_home) %}{{ salt['installer.curl_extract_tar'](name, url, binary_pattern=binary_pattern, archive_ext=archive_ext, fetch_tag=fetch_tag, strip_v=strip_v, binaries=binaries, bin=bin, chmod=chmod, dest=dest, strip_components=strip_components, creates=creates, bin_dest=bin_dest, hash_val=hash, version=version, user=user, home=home) }}{% endmacro %}
{% macro curl_extract_zip(name, url, binary_path=None, binaries=None, bin=None, chmod=False, dest=None, symlink=None, creates=None, hash=None, version=None, user=_user, home=_home) %}{{ salt['installer.curl_extract_zip'](name, url, binary_path=binary_path, binaries=binaries, bin=bin, chmod=chmod, dest=dest, symlink=symlink, creates=creates, hash_val=hash, version=version, user=user, home=home) }}{% endmacro %}
{% macro huggingface_file(name, repo, file, dest, mode='0644', user=_user, creates=None, require=None, parallel=True, hash=None, version=None, cache=True) %}{{ salt['installer.huggingface_file'](name, repo, file, dest, mode=mode, user=user, creates=creates, require=require, parallel=parallel, hash_val=hash, version=version, cache=cache) }}{% endmacro %}
{% macro firefox_extension(ext, profile, require=None, user=_user, prefix='floorp_ext') %}{{ salt['installer.firefox_extension'](ext, profile, require=require, user=user, prefix=prefix) }}{% endmacro %}
{% macro install_catalog(catalog, ver_dict, macro_type, exclude=None) %}{{ salt['installer.install_catalog'](catalog, ver_dict, macro_type, exclude=exclude) }}{% endmacro %}