[Unit]
Description=Set GPU power profile to 3D_FULL_SCREEN
After=sys-subsystem-drm-devices-card1.device
Wants=sys-subsystem-drm-devices-card1.device

[Service]
Type=oneshot
ExecStart=/bin/sh -c 'echo 1 > /sys/class/drm/card1/device/pp_power_profile_mode'
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
